.footer_with_bg {
  background: #fafafa;
  padding: 40px 0px;
}
.footer_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_details h1 {
  margin: 0px;
  color: #252b42;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}
.socials {
  display: flex;
  gap: 20px;
}
.subscribe {
  display: flex;
}
.second_footer {
  display: flex;
  padding: 50px 0px;
  gap: 70px;
  justify-content: space-between;
  align-items: center;
}
.second_footer_div > h5 {
  color: #252b42;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.second_footer_div p {
  color: #737373;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.bottom_footer_bg {
  padding: 25px 0px;
  background: #fafafa;
}
.bottom_footer_cont > p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.subscribe_section h5 {
  margin: 0px;
  margin-bottom: 20px;
}
.subscribe_section_p {
  color: #737373;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 233.333% */
  letter-spacing: 0.2px;
  margin: 0px;
}

@media screen and (max-width: 975px) {
  .footer_with_bg {
    background: #fafafa;
    padding: 40px 0px;
  }
  .footer_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }
  .socials {
    display: flex;
    gap: 20px;
  }
  .subscribe {
    display: flex;
  }
  .second_footer {
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .second_footer_div > h5 {
    color: #252b42;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
  }
  .second_footer_div p {
    color: #737373;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
  }
  .bottom_footer_bg {
    padding: 25px 0px;
    background: #fafafa;
  }
  .bottom_footer_cont > p {
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
  }

  .subscribe_section h5 {
    margin: 0px;
    margin-bottom: 20px;
  }
  .subscribe_section_p {
    color: #737373;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 233.333% */
    letter-spacing: 0.2px;
    margin: 0px;
  }
}
