.custom_prev_arrow {
  position: absolute;
  z-index: 1000;
  left: 20px;
  cursor: pointer;
}
.custom_next_arrow {
  position: absolute;
  z-index: 100;
  right: 73px;
  cursor: pointer;
}
@media screen and (max-width: 975px) {
  .custom_prev_arrow {
    position: absolute;
    z-index: 1000;
    left: 20px;
    cursor: pointer;
  }
  .custom_next_arrow {
    position: absolute;
    z-index: 100;
    right: 17px;
    cursor: pointer;
  }
}
