@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}
p {
  font-family: Montserrat;
}
h1 {
  font-family: Montserrat;
}
h2 {
  font-family: Montserrat;
}
h4 {
  font-family: Montserrat;
}
.slick-dots {
  position: absolute;
  bottom: -40px !important;
  left: -55px !important;
  left: 0px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex !important;
  gap: 88px !important;
}
.slick-dots li div img {
  width: 100px;
  height: 75px;
  margin-left: 50px;
}
.slick-slider {
  position: relative;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-prev {
  left: 14px !important;
  z-index: 1000000;
}
.slick-next {
  right: 103px !important;
}
