.cart_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_inner {
  display: flex;
  gap: 30px;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
}
.quantity div {
  cursor: pointer;
  background-color: grey;
  padding: 5px;
  border-radius: 67px;
  color: white;
}
.del_item {
  color: red;
  cursor: pointer;
  font-size: 12px;
}
.quantity_management {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.info_price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_price h5 {
  margin: 0px;
}
.info_price h6 {
  margin: 0px;
}
.info_price > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
